@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Roboto ", sans-serif;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main {
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*** Sidebar ***/

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #1a1a1a;
  color: white;
}

.toggle-btn {
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  height: 100vh;
  padding-top: 60px;
  transition: 0.3s;
}

.sidebar.open {
  width: 200px;
}

.sidebar a {
  display: block;
  padding: 12px 2px;
  margin: 30px;
  text-decoration: none;
  color: black;
}
.sidebar a:hover {
  text-decoration: underline;
}

.content {
  padding: 40px;
}

.themeToggle {
  margin-left: 20px;
}

/*** Home Page styling ***/

#homePageContainer {
  text-align: center;
  margin-top: 50px;
}

/*! Difficulty Filter Styling */
#difficultyFilterContainer {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
#difficultyLabel {
  font-size: 18px;
}
select {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: px;
}

/*! Search Notes Component Styling */
#searchNotesContainer {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#searchNotesContainer h2 {
  margin-bottom: 15px;
}
#searchNotesContainer input {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 300px;
}
#searchNotesContainer p {
  margin-top: 10px;
  font-size: 18px;
}

/*! Add Notes Component Styling */
#addNotesContainer {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#addNotesContainer h2 {
  margin-bottom: 15px;
}
#addNotesContainer label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}
#addNotesContainer input,
textarea {
  padding: 3px;
  margin-bottom: 25px;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  background: transparent;
  width: 300px;
  outline: none;
  font-size: 18px;
}
#addNotesContainer button {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 18px;
}

/*** Maths page styling***/
#mathsPageContainer {
  text-align: center;
  margin-top: 50px;
}

/*** English page styling***/
#englishPageContainer {
  text-align: center;
  margin-top: 50px;
}

/*** History page styling***/
#historyPageContainer {
  text-align: center;
  margin-top: 50px;
}

/*** Science page styling***/
#sciencePageContainer {
  text-align: center;
  margin-top: 50px;
}

/*** Saved Notes page styling***/
#savedNotesPageContainer {
  text-align: center;
  margin-top: 50px;
}

#savedNote {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/*** Dark/Light mode ***/

:root {
  --bg-color: #ffffff;
  --text-color: #434040;
}

[data-theme="dark"] {
  --bg-color: #423d3d;
  --text-color: #ffffff;
}
[data-theme="dark"] body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.25s ease;
}

[data-theme="dark"].sidebar {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #213547;
}
[data-theme="dark"] .sidebar a {
  color: white;
}
[data-theme="dark"] #savedNote {
  background-color: #2c2c2c;
  border: 1px solid #555;
}
[data-theme="dark"] #addNotesContainer input,
[data-theme="dark"] #addNotesContainer textarea {
  border-bottom: 2px solid #ffffff;
  color: white;
}
